.items{
    height: 360px;
    width: 250px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 5px 8px;
    border-radius: 14px;
    .itemimage{
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        height: 60%;
        border-radius: 14px;
           img{
            border-radius: 14px;
                width: 100%;
            }
    
    }
    button{
    height: 44px;
    width: 180px;
    padding: 8px 14px;
    background-color: #0275d8;
    color: white;
    border-radius: 8px;
    margin-left: 22px;
}
button:hover{
    background-color: rgb(47, 101, 218);
}

.heading{
    font-size: 1.3rem;
    margin-top: 2px;
}
.desc{
    .pricing{
        color: #6415FF;
    }
}
}



@media screen and (max-width:1000px) {
   
    .items{
        height: 340px;
        width: 250px;
       
        padding: 5px 8px;
        border-radius: 14px;
        .itemimage{
           
            height: 60%;
            border-radius: 14px;
               img{
                border-radius: 14px;
                    width: 100%;
                }
        
        }
        button{
        height: 40px;
        width: 150px;
        padding: 8px 14px;
        background-color: #1b1b1b;
        color: white;
        margin-left: 35px;
    }
    .heading{
        font-size: 1.3rem;
        margin-top: 2px;
    }
    .desc{
        .pricing{
            color: #6415FF;
        }
    }
    }
    
}

@media screen and (max-width:850px) {
   
    .items{
        height: 320px;
        width: 240px;
        border: 1px solid #ccc;
        padding: 5px 8px;
        border-radius: 14px;
        button{
        height: 35px;
        width: 130px;
    }
    .heading{
        font-size: 1.3rem;
        margin-top: 2px;
    }
    .desc{
        .pricing{
            color: #6415FF;
        }
    }
    }
    
}
@media screen and (max-width:550px) {
    .items{
        height: 340px;
        width: 250px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        padding: 5px 8px;
        border-radius: 14px;
        .itemimage{
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            height: 60%;
            border-radius: 14px;
               img{
                border-radius: 14px;
                    width: 100%;
                }
        
        }
        button{
        height: 44px;
        width: 180px;
        padding: 8px 14px;
        background-color: #1b1b1b;
        color: white;
        margin-left: 22px;
    }
    .heading{
        font-size: 1.3rem;
        margin-top: 2px;
    }
    .desc{
        .pricing{
            color: #6415FF;
        }
    }
    }
    
    
}